#posts-index img {
  width: 300px;
}

#posts-show img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
}

/* #root {
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  font-weight: normal;
} */